/* Custom properties */
:root {
  --blue: #0c3866;
  --aqua: #49c0b6;
  --black: #222;
  --red: #ce181e;
  --lt-blue: #007cc0;
  --gold: #ffc20e;
}

/* Base reset */
* {
  color: white;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/* box-sizing and font sizing */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  /*
  Set font size for easy rem calculations
  default document font size = 16px, 1rem = 16px, 100% = 16px
  (100% / 16px) * 10 = 62.5%, 1rem = 10px, 62.5% = 10px
  */
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 1.4;
}

h1,
h2 {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  text-align: center;
}

h1 {
  font-size: 6rem;
}

h2 {
  font-size: 4.2rem;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--main-white);
}

img {
  display: block;
  width: 100%;
}

/* Nav */
#navbar {
  background-color: black;
  box-shadow: 0 2px 0 rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}

.nav-menu {
  display: flex;
  margin-right: 2rem;
}

.item {
  display: block;
  font-size: 2.2rem;
  padding: 2rem;
}

.item:hover {
  background: var(--lt-blue);
}

.item:active,
.item:visited {
  color: white;
}

/* Welcome Section */
#welcome-section {
  background-color: var(--red);
  color: white;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  line-height: 2;
  text-align: center;
  width: 100%;
}

#welcome-section p {
  color: var(--black);
  font-size: 3rem;
  font-weight: 200;
  font-style: italic;
}

/* Projects Section */
#projects {
  background-color: var(--blue);
  padding: 10rem 2rem;
  text-align: center;
}

.projects-section-title {
  color: var(--gold);
  border-bottom: 0.2rem solid var(--gold);
  margin: 0 auto 6rem auto;
  max-width: 640px;
}

.projects-grid {
  display: flex;
  flex-direction: row;
  justify-content: center;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 6rem;
  width: 100%;
}

.project-tile {
  background-color: var(--lt-blue);
  /* Add shadows to create the "card" effect */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  margin: 2rem;
  max-width: 25rem;
  text-decoration: none;
  transition: 0.3s;
}

.project-tile:hover {
  /* On mouse-over, add a deeper shadow */
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.project-tile img {
  border-radius: 5px 5px 0 0;
  height: calc(100% - 6.8rem);
  object-fit: cover;
  width: 100%;
}

.card-title {
  font-size: 2rem;
  padding: 2rem 0.5rem;
  color: var(--gold);
}

/* Contact Section */
#contact {
  background-color: var(--lt-blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 100%;
  height: 80vh;
  padding: 0 2rem;
}

.contact-section-header h2 {
  font-size: 6rem;
}

.contact-section-header p {
  font-style: italic;
}

.contact-links {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 980px;
  margin-top: 4rem;
  flex-wrap: wrap;
}

.contact-details {
  font-size: 2.4rem;
  padding: 1rem 2rem;
  text-shadow: 2px 2px 1px #1f1f1f;
  transition: transform 0.3s ease-out;
}

.contact-details:hover {
  transform: translateY(8px);
}

/* Responsive Font-size */

/* 1200px / 16px = 75em */
@media (max-width: 75em) {
  html {
    font-size: 60%;
  }
}

/* 980px / 16px = 61.25em */
@media (max-width: 61.25em) {
  html {
    font-size: 58%;
  }
}

/* 460px / 16px = 28.75em */
@media (max-width: 28.75em) {
  html {
    font-size: 55%;
  }
}

/* Responsive Navbar */

@media (max-width: 28.75em) {
  #navbar {
    justify-content: center;
  }

  .nav-list {
    margin: 0 1rem;
  }
}

/* Responsive Projects section */
@media (max-width: 30.625em) {
  #projects {
    padding: 6rem 1rem;
  }

/* Responsive Projects Section Header */
@media (max-width: 28.75em) {
  .projects-section-header {
    font-size: 4rem;
  }
}

/* Responsive Projects Grid */
@media (max-width: 35.81em) {
  .projects-grid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

/* Responsive Contact Section Header */
@media (max-width: 28.75em) {
  .contact-section-header h2 {
    font-size: 4rem;
  }
}